
body{
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    max-width: 1540px;
}


.carousel .carousel-item {
    max-height:670px;
}

.carousel-item img {
    object-fit: cover;
    max-height:670px;
}

.cards_holder{
    margin-block: 20px;
    display: flex;
    justify-content: space-between;
}

.table{
    margin-top: 20px;
}


.form_first_line{
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.first_name, .last_name{
    flex: 1 1 auto;
}

@media screen and (max-width: 992px){
    .cards_holder{
        flex-direction: column;
        margin-block-end: 0px;
    }

    .card{
        width: 100% !important;
        margin-bottom: 20px;
    }

    .form_first_line{
        flex-direction: column;
    }
}
